{% extends "main_page/layout.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "services/css/styles.css" %}">
{% endblock %}

{% block article1 %}
  <h2>Nuestros Servicios</h2>
  <p>
    En nuestra tienda encontrarás una cuidada selección de productos diseñados para ofrecerte calidad, funcionalidad y estilo. Trabajamos con los mejores materiales y proveedores para garantizarte una experiencia satisfactoria en cada compra.
    Ya sea que estés buscando algo práctico para el día a día o un artículo especial, tenemos opciones para todos los gustos y necesidades. Explora nuestro catálogo y descubre todo lo que hemos preparado para ti.
  </p>
{% endblock article1 %}
{% block article2 %}
  <div class = "image-row">
      <img src="{% static "services/img/tech.jpg" %}">
      <img src="{% static "services/img/repair.jpg" %}">
      <img src="{% static "services/img/chip.jpg" %}">
  </div>
   <!--Aqui le daras un poco de estilos-->
    <h2>RECUERDA NUESTRAS OFERTAS!!</h2>
    <fieldset>
     <!--Por hacer, tendras que acceder a la base de datos y displayar datos-->
      <ul>
        {% for oferta in ofertas %}
          <li><b>{{oferta.name}}</b></li>
          <p>{{oferta.description}}</p>
        {% endfor %}
     </ul>
    </fieldset>
{% endblock article2 %}

{% block content %}
  <h2>Lo Más Destacado</h2>
  <!--Bucle para mostrar los productos con el mayor precio-->
    <div id="destacado">
      {% for producto in productos %}
        <p>Producto en liquidacion!! <i>{{producto.name}}</i> - <strong>{{producto.pvp}}€</strong></p>
      {% endfor %}
    </div>
    <pre>Todos nuestros productos están disponibles con envío rápido, garantía de satisfacción y atención personalizada. ¡Haz tu pedido hoy y vive la diferencia!</pre>
{% endblock content %}